*{
    margin: 0; padding: 0; box-sizing: border-box;
}
@media (min-width: 320px) and (max-width: 767px){
    body{
        height: 100vh;
        font-family: 'Gaegu', cursive;
        display: grid;
        place-content: start;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(3, 3fr);
        padding: 1em;
    }
    .margin{
        margin: 1em;
    }
    header{
        display: grid;
        place-content: center;
    }
    header>h1{
        font-size: 3em;

    }
    div{
        background-color: rgb(158, 158, 158);
        position: relative;
        border: 3px solid black;
        border-radius: 3px;
    }
    .chicken > h2{
        position: absolute;
        right: 0;

        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 2px;
        width: 150px;

        text-align: center;
        background-color: rgb(239, 154, 154);
    }
    .beef > h2{
        position: absolute;
        right: 0;

        border-left: 3px solid black;
        border-bottom: 3px solid black;
        width: 150px;

        text-align: center;
        background-color: rgb(211, 47, 47);
        color: white;
    }
    .sushi > h2{
        position: absolute;
        right: 0;

        border-left: 3px solid black;
        border-bottom: 3px solid black;
        width: 150px;

        text-align: center;
        background-color: rgb(253, 216, 53);
    }
    p{
        padding: 3em 1em 1em;
        font-weight: bold;
        font-size: 1.1em;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    body{
        height: 100vh;
        font-family: 'Gaegu', cursive;
        display: grid;
        place-content: start;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:"header header" 
                            "chicken beef" 
                            "sushi sushi";
        padding: 1.2em;
    }
    .margin{
        margin: 0.8em;
    }
    header{
        display: grid;
        place-content: center;

        grid-area: header;
    }
    header>h1{
        font-size: 3em;

    }
    div{
        background-color: rgb(158, 158, 158);
        position: relative;
        border: 3px solid black;
        border-radius: 3px;
    }
    .chicken{
        grid-area: chicken;
    }
    .chicken > h2{
        position: absolute;
        right: 0;

        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 2px;
        width: 150px;

        text-align: center;
        background-color: rgb(239, 154, 154);
    }
    .been{
        grid-area: beef;
    }
    .beef > h2{
        position: absolute;
        right: 0;

        border-left: 3px solid black;
        border-bottom: 3px solid black;
        width: 150px;

        text-align: center;
        background-color: rgb(211, 47, 47);
        color: white;
    }
    .sushi{
        grid-area: sushi;
    }
    .sushi > h2{
        position: absolute;
        right: 0;

        border-left: 3px solid black;
        border-bottom: 3px solid black;
        width: 150px;

        text-align: center;
        background-color: rgb(253, 216, 53);
    }
    p{
        padding: 3em 1em 1em;
        font-weight: bold;
        font-size: 1.3em;
    }
}
@media (min-width: 1024px){
    body{
        height: 100vh;
        font-family: 'Gaegu', cursive;
        display: grid;
        place-content: start;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:"header header header" 
                            "chicken beef sushi";
        padding: 1.2em;
    }
    .margin{
        margin: 0.8em;
    }
    header{
        display: grid;
        place-content: center;

        grid-area: header;
    }
    header>h1{
        font-size: 3em;
    }
    div{
        background-color: rgb(158, 158, 158);
        position: relative;
        border: 3px solid black;
        border-radius: 3px;
    }
    .chicken{
        grid-area: chicken;
    }
    .chicken > h2{
        position: absolute;
        right: 0;

        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 2px;
        width: 150px;

        text-align: center;
        background-color: rgb(239, 154, 154);
    }
    .been{
        grid-area: beef;
    }
    .beef > h2{
        position: absolute;
        right: 0;

        border-left: 3px solid black;
        border-bottom: 3px solid black;
        width: 150px;

        text-align: center;
        background-color: rgb(211, 47, 47);
        color: white;
    }
    .sushi{
        grid-area: sushi;
    }
    .sushi > h2{
        position: absolute;
        right: 0;

        border-left: 3px solid black;
        border-bottom: 3px solid black;
        width: 150px;

        text-align: center;
        background-color: rgb(253, 216, 53);
    }
    p{
        padding: 3em 1em 1em;
        font-weight: bold;
        font-size: 1.5em;
    }
}